@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
}

@layer components {
	body {
		min-height: 100vh;
		min-height: -webkit-fill-available;
	}

	html {
		@apply bg-emphasis;
		height: -webkit-fill-available;
	}

	.her.heroBtn {
		@apply px-6 py-3 border border-black rounded-[5px] betterhover:bg-opacity-20 transition-colors ease-in-out duration-200 cursor-pointer;
	}
	.hamburgerLine {
		@apply rounded-[10px] h-[3px] my-[3px] mx-0 ml-auto bg-white;
		transition: transform 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6),
			background-color 0.15s ease-in-out;
	}

	.hamburgerLine.active {
		@apply bg-white;
	}

	.hamburgerCheck {
		@apply hidden;
	}

	.sidenav {
		width: 0;
		transition: 0.5s;
	}

	.sidenav.flex {
		right: 0;
	}

	.logo {
		@apply bg-white group-hover:bg-primary group-hover:animate-pulse transition;
		-webkit-mask: url('/logo.svg') no-repeat center;
		mask: url('/logo.svg') no-repeat center;
		height: 50px;
		width: 50px;
	}

	.headerContainer {
		@apply flex flex-row-reverse justify-end;
	}

	.headerStyling {
		@apply inline-block text-white text-4xl sm:text-6xl lg:text-8xl font-black transition duration-500 ease-out;
	}

	.ctaBtn {
		@apply border-primary border-4 transition duration-500 ease-in-out text-primary font-black tracking-widest py-2 px-6 hover:bg-primary hover:bg-opacity-30 hover:text-primary hover:scale-110 hover:shadow-none hover:translate-x-[10px];
	}

	@media (hover: hover) {
		a:hover {
			cursor: pointer;
		}

		.hamburger:hover .hamburgerLine {
			@apply bg-primary animate-pulse;
		}
		.hamburgerCheck:checked ~ span:nth-of-type(1) {
			transform-origin: bottom;
			transform: rotatez(-45deg) translate(-4px, 0px);
		}

		.hamburgerCheck:checked ~ span:nth-of-type(2) {
			transform-origin: top;
			transform: rotatez(45deg);
		}

		.hamburgerCheck:checked ~ span:nth-of-type(3) {
			transform-origin: bottom;
			width: 55%;
			transform: translate(-13px, -4px) rotatez(-45deg);
		}
		.headerContainer:hover ~ .headerContainer .headerStyling {
			@apply text-primary opacity-50;
		}
		.headerStyling:hover {
			@apply translate-y-[-25px] scale-150 animate-pulse;
		}

		.headerStyling:hover,
		.headerStyling:hover ~ .headerStyling {
			@apply text-primary;
		}

		.headerStyling:hover ~ .headerStyling {
			@apply opacity-50;
		}

		.headerStyling:hover + .headerStyling {
			@apply opacity-75 translate-y-[-10px];
		}

		.headerStyling:hover + .headerStyling + .headerStyling {
			@apply opacity-75 translate-y-[-5px];
		}
		.ctaBtn:hover {
			box-shadow: #d5c34a 0px 5px 0px -2.5px,
				#b5a746 0px 10px 0px -5px, #958b43 0px 15px 0px -7.5px,
				#746f3f 0px 20px 0px -10px,
				#54533c 0px 25px 0px -12.5px;
		}
	}
}
